* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 800;
  background-attachment: fixed;
  background-size: cover;
  background: url("img/mountain.png");
  background-color: black;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

#brand-title {
  width: 150px;
  color: white;
  padding: 2rem 0rem;
  text-decoration: none;
}
#brand-title div a {
  text-decoration: none;
}

.site-footer {
  text-align: center;
  position: relative;
  bottom: -250px;
  padding: 10px 0;
}

#social-wrapper {
  text-align: center;
}

/*Social Media Icons*/
.social-wrapper {
  text-align: center;
}

.social-wrapper ul li {
  display: inline;
  margin: 0 5px;
}

.twitter-icon,
.facebook-icon,
.instagram-icon,
.linkedin-icon,
.googleplus-icon,
.youtube-icon,
.foursquare-icon {
  margin-top: 0.625em;
  width: 40px;
  height: 40px;
}

.twitter-icon:hover,
.facebook-icon:hover,
.instagram-icon:hover,
.linkedin-icon:hover,
.googleplus-icon:hover,
.youtube-icon:hover,
.foursquare-icon:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.footer-nav p {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 0rem 5rem;
  border-bottom: rgba(255, 255, 255, 0.4) 1px solid;
}

.navbar-links ul {
  font-weight: 400;
  margin: 0;
  padding: 0;
  display: flex;
  text-decoration: none;
}

.navbar-links li {
  list-style: none;
  text-decoration: none;
}

.navbar-links a {
  text-decoration: none;
  color: white;
  padding: 0rem 1rem;
  text-decoration: none;
  display: block;
}

#kontakt {
  font-weight: 800;
  margin-left: 6rem;
  border: solid 2px white;
}

.toggle-button {
  position: absolute;
  top: 2.5rem;
  right: 5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.logocontainer {
  display: flex;
  justify-content: center;
  height: 650px;
}

.logocontainer img {
  min-width: 70%;
}

.boka {
  text-align: center;
  margin-top: -200px;

  color: white;
}

.boka h1 {
  font-weight: 300;
}

.buttons {
  text-align: center;
  position: relative;
  top: 30px;
}
.button {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  border-radius: 3px;
  font-size: 17px;
  font-weight: 400;
  background: #fd412f;
  padding: 10px 20px 10px 20px;
  border: none;
  cursor: pointer;
}
.button:hover {
  background: #e03b2c;
}
#button1:hover {
  border-color: #e03b2c;
}

#button1 {
  background: transparent;

  box-shadow: inset 0px 0px 0px 2px white;
}

/* Code for phone */
@media (max-width: 900px) {
  .button {
    font-family: "Open Sans", sans-serif;
    color: white;
    text-align: center;
    border-radius: 3px;
    font-size: 12px;
    font-weight: 400;
    background: #fd412f;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
  }

  a {
    text-decoration: none;
  }

  .logocontainer {
    display: flex;
    justify-content: center;
    height: 700px;
  }

  .boka {
    text-align: center;
    margin-top: -320px;
    font-size: 0.5rem;

    color: white;
  }

  .logocontainer img {
    width: 80%;
  }
  .toggle-button {
    display: flex;
    right: 20px;
  }

  #kontakt {
    border: solid 0px;
    font-weight: 400;
    margin-left: 0rem;
  }

  .navbar-links {
    position: absolute;
    top: 90px;
    right: 0px;
    display: none;
  }

  .navbar-links li {
    padding: 0.2rem 0rem;
  }

  .navbar-links ul {
    flex-direction: column;
  }

  #brand-title {
    width: 150px;
    color: white;
    padding: 2rem 0rem;
    position: absolute;
    top: 0px;
    left: 20px;
  }
}

.navbar-links.active {
  display: flex;
}
